* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .blue-palette {
    background-color: #0B3142;
  }
  
  .green-palette {
    background-color: #1C3A13
  }
  
  .red-palette {
    background-color: #690500;
  }
  
  .black-palette {
    /* background-image: linear-gradient(to bottom, #333, #444); */
    background-color: #252323;
  }